body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Lora";
}

html {
    background: linear-gradient(to bottom,  rgb(230, 224, 238), #fce2ea, #dde6f9, #fce2ea, rgb(225, 218, 234));
    position: relative; 
}

html:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
    background-repeat: repeat;
    mix-blend-mode: hard-light;
    z-index: -1;
}


main {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

path.domain,
.tick line {
  stroke: #7b7b7b;
}

.tick text {
    /* stroke: #7b7b7b; */
    fill:#7b7b7b;

}

svg text.graph-label, svg text.y-label {
    /* stroke: #7b7b7b; */
    fill:#7b7b7b;
}

svg {
    flex: 1; /* Makes the SVG take up available space */
  }


a {
    color: #fc267e;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins";
}

.subtitle {
    font-family: "Lora";
}

.title-section, .tweet-section, .byline, .text-section {
    max-width: 700px;
    margin: auto;
}

.toggle-visib {
  visibility: hidden;
}

.parent {
  position: relative;
  /* float: right; */
  margin: 50px auto;
  transform: rotate(2deg);
  
  top: 0;
  left: 0;
  width: 160px;
  /* transform: translateX(-100); */
  
}
.image1 {
  margin:auto;
  position: relative;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px red solid; */
}
.image2 {
  position: absolute;
  margin:auto;
  top: 0;
  width: 100%;
  left: 0;
  /* border: 1px green solid; */
}


.tweet-section {
  margin-top: 50px;
  margin-bottom: 20%;
}

.chart-section {
    margin: 200px auto;
    max-width: 800px;
    position: static;
}

.chart-section.first {
    margin: 50px auto;
}

.main-content {
    margin-top: 50px;
}

.selector {
    margin: 50px auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.section-box {
    position: relative;
    margin: 100% auto;
    background-color: white;
    border: gray;
    border-radius: 20px;
    max-width: 600px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 10;
}

.section-box.first {
    margin: 30% auto;
}

.text-box {
    position: relative;
    max-width: 550px;
    margin: auto;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#tracktitle, #trackartist {
  opacity: 1;
}


#scatter-plot {
    position: relative;
    z-index: 0; 
}

#overallAnalysis {
    position: relative;
    z-index: 0;
}

#chart-filter {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#chart-filter.visible {
  visibility: visible;
  opacity: 1;
}

#chart-filter .selector {
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
    line-height: 1.8em;
    font-size: large;
}

.panel p {
  font-size: small;
  opacity: 0.8;
}

button {
    color:#444;
    padding: 0.8rem;
    font-family: "Poppins";
    background-color: rgba(255, 255, 255, 0.4);
    line-height: 1.8em;
    font-size: medium;
    cursor: pointer;   
    transition-duration: 0.4s; 
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 12px;
    font-weight: 600;

}

footer p {
  font-size: x-small;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 10px;

}

button:hover {
    color: white;
    background-color: #fc267e;
}

.author, .date {
    line-height: 0.5em;
    font-size: 92%;
    opacity: 0.7;
}

.song-tab, button {
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 7px;
    
}

.song-tab {
    padding: 3px 8px;
    background-color: black;
    color: white;
}

text {
    font-size: 80%;
    font-family: "Poppins";
}

br {
    line-height: 0.2;
}

.tooltip-text {
    font-family: "Poppins";
    font-size: x-small;
}

.group-name {
    color: #6587d6;
}

.agency-name {
    color: #bf5fc1;
}

#group-highlights, #agency-highlights, #sameagency-highlights, #agency-info, #outro {
    display: none;
}

option:disabled {
    color: gray;
}

:root {
    --arrow-bg: rgba(254, 226, 235, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.4);
  }
  * {
    box-sizing: border-box;
  }
  

  select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    /* Personalize */
    width: 18rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: black;
    font-family: "Poppins";
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }

  .avator {
    border-radius:100px;
    width:48px;
    margin-right: 15px;
  }
  
  
  .tweet-wrap {
    /* display:none; */
    max-width:600px;
    background: #ffffff95;
    margin: 0 auto;
    margin-top: 30px;
    border-radius:15px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .tweet-header {
    display: flex;
    align-items:flex-start;
    font-size:14px;
  }
  .tweet-header-info {
    font-weight:bold;
    font-size: small;
    font-family: "Poppins";
  }
  .tweet-header-info span {
    color:#657786;
    font-weight:normal;
    margin-left: 5px;
  }
  .tweet-header-info p {
    font-weight:normal;
    font-size: small;
    margin-top: 5px;
    
  }
  .tweet-img-wrap {
    padding-left: 60px;
  }
  
  .tweet-info-counts {
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
  }
  .tweet-info-counts div {
    display: flex;
    margin-right: 20px;
  }
  .tweet-info-counts div svg {
    color:#657786;
    margin-right: 10px;
  }
  @media screen and (max-width:430px){
    body {
      padding-left: 20px;
      padding-right: 20px;
    }
    .tweet-header {
      flex-direction:column;
    }
    .tweet-header img {
      margin-bottom: 20px;
    }
    .tweet-header-info p {
      margin-bottom: 30px;
    }
    .tweet-img-wrap {
      padding-left: 0;
    }
    .tweet-info-counts {
    display: flex;
    margin-left: 0;
  }
  .tweet-info-counts div {
    margin-right: 10px;
  }
}


  #player02 {
    height: fit-content;
  }
  
  #player02 .controls {
    display: flex;
    justify-content: space-around;
  }
  
  .player {
    padding: 28px;
    border-radius: 20px;
  }

  .player p {
    font-family: 'Poppins'; 
  }
  
  
  .info {
   color: rgba(0, 0, 0, 0.607);
  }
  
  .info p, h3 {
    opacity: 0.68;
  }
  
  .info-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .player h1 {
    color: black;
  }
  
  
  .controls {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    fill: black;
  }
  
  .track {
    padding-top: 28px;
    position: relative;
    max-width: 800px;
  }
  
  .track::before {
  content: '';
  height: 6px;
  width: 100%;
  display: block;
  background: #D9D9D9;
  opacity: 0.3;
  border-radius: 10px;
  position: absolute;
  }
  
  .track::after { 
    content: '';
  height: 6px;
  width: 85%;
  display: block;
  background: #D9D9D9;
  border-radius: 10px;
  }
  
  .time {
    opacity: 0.60;
    font-size: 14px;
    color: black;
    font-family: 'Poppins'; 
  
    display: flex;
    justify-content: space-between;
    padding-top: 9.6px;
  }
  
  @media (max-width: 670px) {
    #boxes {
      display:flex;
      flex-direction: column;
  
      max-width: 270px;
      margin: auto;
  
  
      height: auto;
      padding-block: 60px;
    }
  
  
  
  }
  

  .accordion {
    margin-top: 200px;
    color: #444;
    opacity: 0.7;
    font-weight: 400;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .accordion.first {
    margin-top: 0px;
  }
  
  .active, .accordion:hover {
    background-color: rgba(255, 255, 255, 0.241);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/* Mobile fixes! */
@media only screen and (max-width: 768px) {
    main {
        max-width: 100%;
        margin-top: 100px;
    }

    #group-graph {
      transform: translateX(-50);
    }

    #chart-filter {
      display: block;
      max-width: 90%;
      margin: auto;
      transform: translateX(20);
    }

    /* #chart-filter .selector {
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto
    } */

    #scatter-plot.chart-section #scatter-graph {
        transform: translateX(-20px);
    }
    
    /* #percent-curve.chart-section {
        transform: translateX(-5px);
    } */

    .y-label {
        display: none;
    }

    .date {
      font-size: 80%;
    }

    .title-section, .byline, .text-section, .tweet-section {
        max-width: 90%;
        margin: auto;
    }

    .title-section {
      margin-top: 250px;
    }

    .section-box {
        max-width: 90%;
        margin: 700px auto;
        padding: 10px;
    }

    .text-box {
        max-width: 85%;
        margin: auto;
    }

    p {
        font-size: medium;
    }

}

.imgLeft {
  float: left;
}
.imgRight {
  float: right;
}

.scrolly {
  width: 60px;
  opacity: 0.4;
	height: 60px;
  margin: auto;
	border-radius: 50%;
}

.scroll {
  text-align: center;	
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #333;
  	border-bottom: 2px solid #333;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}


@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}